{{ get_header() }}

{{ get_template_part('main/header') }}

<div class="one-column">
	{% block content %}
		{% loop %}
			{{ the_content() }}
		{% endloop %}
	{% endblock %}
</div>

{% block bottom %}
{% endblock %}

{{ get_template_part('main/footer') }}

{{ get_footer() }}